version: '3.1'

services:

  backend:
    build: .
    ports:
      - 3000:3000
    environment:
      PSQL_HOST: db
    depends_on:
      - db

  db:
    image: postgres:12-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=pass
      - POSTGRES_USER=db_user
      - POSTGRES_DB=db
    # volumes:
    #   - ./initdb:/docker-entrypoint-initdb.d
