version: '3.1'

services:
  db:
    image: postgres:12-alpine
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=pass
      - POSTGRES_USER=db_user
      - POSTGRES_DB=db
    # volumes:
    #   - ./initdb:/docker-entrypoint-initdb.d

  mongo:
    image: mongo:latest
    ports:
      - 27017:27017
    environment:
      - MONGO_INITDB_DATABASE=db
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=new_pass
    # volumes:
    #   - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d:ro

  mongo-express:
    image: mongo-express:latest
    ports:
      - 8081:8081
    environment:
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=new_pass
    depends_on:
      - mongo

  backend:
    build: .
    ports:
      - 3000:3000
    environment:
      DB_HOST: db
    depends_on:
      - db
      - mongo
