name: Go

on:
  push:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:

      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.16
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: make dep
        
      - name: Run lint
        run: make lint

      - name: Run build
        run: make build

      - name: Run test
        run: make test

      # добавили всё, что ниже

      - name: Build binary for docker image
        run: make build-docker
        env:
          CGO_ENABLED: 0

      - name: List
        run: ls -la

      - name: Push to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: dboyara/find-course/find-course
          tag_with_ref: true