name: Go-tests

on:
  pull_request:
    types:
      - assigned
      - opened
      - reopened
      - edited
      - synchronize

jobs:

  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code into the Go module directory
        uses: actions/checkout@v2
        
      - name: Get dependencies
        run: make dep
        
      - name: Run lint
        run: golangci/golangci-lint-action@v2

      - name: Run build
        run: make build

      - name: Run test
        run: make test